<footer>
    <h1>This is the footer</h1>
    <div class="footer-wrapper">
        <div class="container-wrapper text-center"></div>
            <div class="container-fluid flex-wrap align-content-stretch bg-dark text-white-75 rounded">
                <div class="row">
                    <div class="col"><h2 class="text-white-75">Main text 1 <small> Complimentary text</small></h2></div>
                    <div class="col"><h2 class="text-white-75">Main text 2 <small> Complimentary text</small></h2></div>
                    <div class="col"><h2 class="text-white-75">Main text 3 <small> Complimentary text</small></h2></div>
                    <div class="col"><h2 class="text-white-75">Main text 4 <small> Complimentary text</small></h2></div>
                </div>
                <div class="row">
                    <div class="col bg-primary"><h2 class="text-white-75">Main text a <small> Complimentary text</small></h2></div>
                    <div class="col bg-success"><h2 class="text-white-75">Main text b <small> Complimentary text</small></h2></div>
                    <div class="col"><h2 class="text-white-75">Main text c <small> Complimentary text</small></h2></div>
                    <div class="col text-white-75"> <p class="text-white">Main text d</p> Main text d</div>
                </div>
            </div>
        </div>
    </div>
</footer>