<footer>
    <!-- <h1>This is the footer</h1> -->

    <div class="container-fluid bg-dark text-center">
        <div class="container flex-wrap align-content-stretch bg-dark text-white-75 rounded">
            <div class="row justify-content-center">
                <div class="col-8 my-3 px-5">
                    <h2 class="text-white text-center display-5 m-4">Logo</h2>
                    <p class="text-white text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at congue ex, eu rhoncus lorem. Aliquam blandit est venenatis, blandit odio eu, mollis mauris. Praesent ac arcu eget mauris fringilla posuere sit amet id velit. In in interdum lectus. Phasellus vel blandit elit.</small></p>

                </div>
                <div class="col-3 border-left border-2 align-self-center">
                    <h5 class="text-white px-5 py-2">Facebook</h5>
                    <h5 class="text-white px-5 py-2">Twitter</h5>
                    <h5 class="text-white px-5 py-2">Instagram</h5>
                </div>
            </div>
        </div>
    </div>

</footer>