<footer>
    <!-- <h1>This is the footer</h1> -->
    <div class="footer-wrapper">
        <div class="container-wrapper text-center"></div>
            <div class="container flex-wrap align-content-stretch bg-dark text-white-75 rounded">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <h2 class="text-white-75">Main text a <small> Complimentary text</small></h2>
                        <h2 class="text-white-75">Main text a <small> Complimentary text</small></h2>
                        <h2 class="text-white-75">Main text a <small> Complimentary text</small></h2>
                        <h2 class="text-white-75">Main text a <small> Complimentary text</small></h2>
                    </div>
                    <div class="col-4 align-self-center">
                        <h5 class="text-white p-2">Facebook</h5>
                        <h5 class="text-white p-2">Twitter</h5>
                        <h5 class="text-white p-2">Instagram</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>