{% extends "form.html" %}

{% block crop %}
<div class="jumbotron-fluid p-5 rounded-0 bg-primary ">
    <div class="container p-5 text-white">
        <h1 class="display-3">Crop Predictor</h1>
        <div class="my-3"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at congue ex, eu rhoncus lorem. Aliquam blandit est venenatis, blandit odio eu, mollis mauris. Praesent ac arcu eget mauris fringilla posuere sit amet id velit. In in interdum lectus. Phasellus vel blandit elit.</p>
    </div>
</div>

{% if prediction!=None %}
<div class="container-fluid bg-warning ">
    <div class="container px-5 py-3">
        <h4 class="text-center text-dark">Result!</h4>
        <h4 class="text-dark text-center">Perfect choice : {{prediction}}</h2>   
    </div>
</div>
{% endif %}

<div class="container-fluid">
    <div class="container text-left p-5">
        <form action="/predict" method="POST">
            <div class="row justify-content-center">
                <div class="col-md-2 align-self-center">
                    <label class="m-2" for="disname">District Name</label>
                </div>
                <div class="col-lg-6">
                    <select name="disname" class="form-control">
                        <option value="None">Select a District Name</option>
                        <option value="1">D</option>
                        <option value="2">H</option>
                        <option value="3">L</option>
                        <option value="3">La</option>
                        <option value="3">Lam</option>
                        <option value="3">Lame</option>
                        <option value="3">Lost</option>
                    </select>
                </div>
            </div>

            <div class="my-3"></div>
            
            <div class="row justify-content-center">
                <div class="col-lg-2 align-self-center">
                    <label class="m-2" for="disname">District Name</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" required id="dummy" class="form-control" name="disname" placeholder='District Name'>
                </div>
            </div>
            
            <div class="my-3"></div>
            
            <div class="row justify-content-center">
                <div class="col-lg-2 align-self-center">
                    <label class="m-2" for="sea">Season</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" required class="form-control" name="sea" placeholder='Season (Kharif/Rabi/Summer/Year)'>
                </div>
            </div>
            
            <div class="my-3"></div>
            
            <div class="row justify-content-center">
                <div class="col-lg-2 align-self-center">
                    <label class="m-2" for="are">Area sown</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" required class="form-control" name="are" placeholder='Area (in hectares)'>
                </div>
            </div>
            
            <div class="my-3"></div>
            
            <div class="row justify-content-center">
                <div class="col-lg-2 align-self-center">
                    <label class="m-2" for="temp">Temperature</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" required class="form-control" name="temp" required placeholder='Temperature (in &#8451)'>
                </div>
            </div>
            
            <div class="my-3"></div>
            

            <div class="row justify-content-center">
                <div class="col-lg-2 align-self-center">
                    <label class="m-2" for="ph">pH</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" required class="form-control" name="ph" placeholder='pH'>
                </div>
            </div>

            <div class="my-3"></div>

            <div class="row justify-content-center">
                <div class="col-lg-2 align-self-center">
                    <label class="m-2" for="rn">Rainfall</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" required class="form-control" name="rn" placeholder='Rainfall (in mm)'>
                </div>
            </div>

            <div class="my-3"></div>

            <div class="row justify-content-center">
                <div class="col-lg-2 align-self-center">
                    <label class="m-2" for="p">Phosphorous</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" required class="form-control" name="p" placeholder='Phosphorous'>
                </div>
            </div>

            <div class="my-3"></div>

            <div class="row justify-content-center">
                <div class="col-lg-2 align-self-center">
                    <label class="m-2" for="n">Nitrogen</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" required class="form-control" name="n" placeholder='Nitrogen'>
                </div>
            </div>

            <div class="my-3"></div>

            <div class="row justify-content-center">
                <div class="col-lg-2 align-self-center">
                    <label class="m-2" for="k">Potash</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" required class="form-control" name="k" placeholder='Potash'>
                </div>
            </div>

            <div class="my-3"></div>
            <div class="row justify-content-center">
                <button class='btn btn-primary'>Predict Crop</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}