{% extends "body.html" %}
{% block intro %}
<img src="{{url_for('static', filename='/img/background.jpg')}}" />
<img src="../static/img/background.jpg" />
<div class="jumbotron-fluid bg-light p-5 m-0 text-dark rounded-0">
    <div class="container p-3 p-0">
        <h1 class="display-3">LOGO <small class="display-4">Slogan</small></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at congue ex, eu rhoncus lorem. Aliquam blandit est venenatis, blandit odio eu, mollis mauris. Praesent ac arcu eget mauris fringilla posuere sit amet id velit. In in interdum lectus. Phasellus vel blandit elit.</p>
    </div>
</div>

<div class="jumbotron-fluid p-5 m-0 bg-success text-dark rounded-0">
    <div class="container p-3 p-0">
        <h1 class="display-4 text-center text-white"><b>Mission</b></h1>
        <div class="my-5"></div>
        <p class="text-white text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at congue ex, eu rhoncus lorem. Aliquam blandit est venenatis, blandit odio eu, mollis mauris. Praesent ac arcu eget mauris fringilla posuere sit amet id velit. In in interdum lectus. Phasellus vel blandit elit.</p>
        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at congue ex, eu rhoncus lorem. Aliquam blandit est venenatis, blandit odio eu, mollis mauris. Praesent ac arcu eget mauris fringilla posuere sit amet id velit. In in interdum lectus. Phasellus vel blandit elit.</p>
        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at congue ex, eu rhoncus lorem. Aliquam blandit est venenatis, blandit odio eu, mollis mauris. Praesent ac arcu eget mauris fringilla posuere sit amet id velit. In in interdum lectus. Phasellus vel blandit elit.</p>
    </div>
</div>
{% endblock %}