<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
    <ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/predict">Crop Predictor</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/yield_predict">Yield Estimator</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
    </li>
    </ul>
</nav>