<div class="container-fluid bg-dark">
    <h2>Nav</h2>
    <p>Basic horizontal menu:</p>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link text-white" ref="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Crop Predictor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Yield Estimator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">About Us</a>
      </li>
    </ul>
  </div>