{% extends "body.html" %}
{% block team %}
<div class="jumbotron-fluid p-5 rounded-0 bg-warning">
    <div class="container p-5 text-dark">
        <h1 class="display-3">The Team</h1>
        <div class="my-3"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at congue ex, eu rhoncus lorem. Aliquam blandit est venenatis, blandit odio eu, mollis mauris. Praesent ac arcu eget mauris fringilla posuere sit amet id velit. In in interdum lectus. Phasellus vel blandit elit.</p>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row justify-content-center p-2">

            <div class="card m-4" style="width: 18rem;">
                <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Team Member 1</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Designation</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://github.com/varshini-s" class="card-link">GitHub</a>
                </div>
            </div>
            
            <div class="card m-4" style="width: 18rem;">
                <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Team Member 2</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Designation</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">GitHub</a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}